<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UniQuery</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" type="text/css">
    <style type="text/css">
        table tr td{
            line-height: 50px;
            text-align: center;
            width: 100px;
        }
        #table1 a{
            text-decoration: none;
        }
        .dropdown-menu li{

        }
    </style>
</head>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="font-size: 20px">UniQuery</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse nav-tabs">
            <ul class="nav navbar-nav">
                <li><a href="index.html">首页</a> </li>
                <li><a href="community.html">社区</a> </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">分类<b class="caret"></b></a>
                    <ul class="dropdown-menu" style="overflow: visible">
                        <li><a href="/category?id=1">学术</a></li>
                        <li class="divider"></li>
                        <li><a href="/category?id=2">体育</a></li>
                        <li class="divider"></li>
                        <li><a href="/category?id=3">情感</a></li>
                        <li class="divider"></li>
                        <li><a href="/category?id=4">生活</a></li>
                        <li class="divider"></li>
                        <li><a href="/category?id=5">娱乐</a></li>
                        <li class="divider"></li>
                        <li><a href="/category?id=6">科技</a></li>
                        <li class="divider"></li>
                        <li><a href="/category?id=7">文化</a></li>
                        <li class="divider"></li>
                        <li><a href="/category?id=7">新闻</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" th:action="@{/search}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="keyword">
                    <button type="submit" class="btn btn-default">搜索</button>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-sub pull-right">
                <li><a href="register.html">注册</a> </li>
                <li><a href="login.html" th:text="${session.user} != null? '用户名:'+${session.user.getUname()} :'登录' "></a></li>
                <li class="dropdown"><img data-toggle="dropdown" th:src="${session.user.getProfile()} != null? ${session.user.getProfile()}:'/images/default.jpg'" alt="图片加载失败" style="width: 40px;height:40px;margin-top: 5px;margin-left: 20px" class="img-rounded dropdown-toggle">
                    <ul class="dropdown-menu" style="overflow: visible;width: 50px">
                        <li><a th:href="@{/center(uid=${session.user.getUserid()})}" style="text-decoration: none">个人中心</a></li>
                        <li><a href="/logoff">注销</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="navbar">
                <ul class="nav nav-tabs">
                    <li><a href="index.html">推荐</a> </li>
                    <li><a th:href="@{/interested.html(uid=${session.user.getUserid()})}">收藏</a> </li>
                    <li><a href="hot.html">热门</a> </li>
                </ul>
            </div>
            <div class="panel panel-default" th:each="map:${mapList}">
                <div class="panel-heading" th:if="${map['answer']['authorname']}!=null">
                    <a th:href="@{/question(qid=${map['questionid']})}" style="text-decoration: none"><span th:text="${map['title']}"></span></a>
                </div>
                <div class="panel-heading" th:if="${map['answer']['authorname']}==null">
                    <a th:href="@{/emptyQuestion(qid=${map['questionid']})}" style="text-decoration: none"><span th:text="${map['title']}"></span></a>
                </div>
                <div class="panel-body" th:if="${map['answer']['authorname']}!=null">
                    <span th:text="${map['answer']['authorname']}+':'" th:name="${session.user.getUserid()}" th:if="${map['answer']['isanonymous']}==1" th:test="${map['answer']['isanonymous']}"></span>
                    <span th:name="${session.user.getUserid()}" th:if="${map['answer']['isanonymous']}==0">匿名:</span>
                    <span th:text="${map['answer']['content']}" th:name="${map['answer']['answerid']}"></span><a th:href="@{/question(qid=${map['questionid']})}" class="pull-right" style="text-decoration: none">阅读全文&raquo;</a>
                </div>
                <div class="panel-body" th:if="${map['answer']['authorname']}==null">
                    <span>暂无回答</span>
                </div>
                <div class="panel-footer" th:if="${map['answer']['authorname']}!=null">
                    <div>
                        回答数：<span th:text="${map['answercount']}"></span>
                        <button class="btn-default agree">赞成：<span th:text="${map['answer']['agreecount']}"></span></button>
                        <button class="btn-default disagree">反对：<span th:text="${map['answer']['disagreecount']}"></span></button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span><a th:href="@{/center(uid=${session.user.getUserid()})}" style="text-decoration: none">个人中心</a></span>
                    <span style="float: right">私信(99)</span>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    问问大家
                </div>
                <div class="panel-body">
                    <table id="table1">
                        <tr><td><a data-toggle="modal" data-target="#myModal" href="#">提问</a></td><td><a href="#">回答</a></td><td><a href="#">收藏</a></td></tr>
                        <tr><td><a href="#">私信</a></td><td><a href="#">历史</a></td><td><a href="#">关注</a></td></tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    校园生活
                </div>
                <div class="panel-body">
                    <table id="table2">
                        <tr><td>找人</td><td>求助</td><td>卖二手</td></tr>
                        <tr><td>寻伙伴</td><td>公告栏</td><td>表白墙</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div>
                    <div style="float:left;width:40px">
                        <img th:src="${session.user.getProfile()} != null? ${session.user.getProfile()}:'/images/default.jpg'" alt="图片加载失败" style="width: 40px;height:40px">
                    </div>
                    <div style="float:none;">
                        <div style="margin-left: 55px"><b th:text="${session.user.getUname()}"></b><br/><span th:text="${session.user.getSignature()} !=null? ${session.user.getSignature()}:'未设置签名' "></span></div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div><p>你的问题：<input type="text" placeholder="问题标题" style="width: 650px"></p></div>
                <div id="editor">
                    <p>问题具体描述</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="submit" th:userid="${session.user.getUserid()}">发布问题</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        $('.agree').click(function(){
            $.ajax({
                type: "GET",
                dataType: "text",
                url: "/agree" ,
                data: {"answerID":$(this).parent().parent().parent().find("span").eq(2).attr('name'),"userID":$(this).parent().parent().parent().find("span").eq(1).attr('name')},
                success: function (data) {
                    if (data == "1") {
                        window.location.reload();
                    } else if(data =="2") {
                        window.location.reload();
                    }
                    ;
                },
                error : function() {
                    alert("error！");
                }
            });
        });
        $('.disagree').click(function(){
            $.ajax({
                type: "GET",
                dataType: "text",
                url: "/disagree" ,
                data: {"answerID":$(this).parent().parent().parent().find("span").eq(2).attr('name'),"userID":$(this).parent().parent().parent().find("span").eq(1).attr('name')},
                success: function (result) {
                    if (result == "1") {
                        window.location.reload();
                    }else if(result =="2") {
                        window.location.reload();
                    }
                    ;
                },
                error : function() {
                    alert("error！");
                }
            });
        })
    })
</script>
<script type="text/javascript" th:src="@{../wangEditor/Editor.min.js}"></script>
<script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    editor.create()
    $('#submit').click(function(){
        var data="1";
        if(($(this).parent().parent().find('[type=checkbox]').prop("checked"))){
            data="0";
        }
        var content=editor.txt.text();
        $.ajax({
            type:"Get",
            dataType:"text",
            url:"/raiseQuestion",
            data:{"userID":$(this).attr('userid'),"content":content,"isAnoynomous":data,"title":$(this).parent().parent().find('[type=text]').val()},
            success: function (result) {
                if (result == "1") {
                    alert("submission succeed!")
                    window.location.reload();
                };
            },
            error : function() {
                alert("error！");
            }
        })
    })
</script>
</body>
</html>