<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UniQuery</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" type="text/css">
    <style type="text/css">
        table tr td{
            line-height: 50px;
            text-align: center;
            width: 100px;
        }
        .dropdown-menu li{

        }
    </style>
</head>
<div class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="font-size: 20px">UniQuery</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse nav-tabs">
            <ul class="nav navbar-nav">
                <li><a href="index.html">首页</a> </li>
                <li><a href="community.html">社区</a> </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">分类<b class="caret"></b></a>
                    <ul class="dropdown-menu" style="overflow: visible">
                        <li><a href="/category?id=1">学术</a></li>
                        <li class="divider"></li>
                        <li><a href="/category?id=2">体育</a></li>
                        <li class="divider"></li>
                        <li><a href="/category?id=3">情感</a></li>
                        <li class="divider"></li>
                        <li><a href="/category?id=4">生活</a></li>
                        <li class="divider"></li>
                        <li><a href="/category?id=5">娱乐</a></li>
                        <li class="divider"></li>
                        <li><a href="/category?id=6">科技</a></li>
                        <li class="divider"></li>
                        <li><a href="/category?id=7">文化</a></li>
                        <li class="divider"></li>
                        <li><a href="/category?id=7">新闻</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="get" th:action="@{/search}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="keyword">
                    <button type="submit" class="btn btn-default">搜索</button>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-sub pull-right">
                <li><a href="register.html">注册</a> </li>
                <li><a href="login.html" th:text="${session.user} != null? '用户名:'+${session.user.getUname()} :'登录' "></a></li>
                <li><img th:src="${session.user.getProfile()} != null? ${session.user.getProfile()}:'/images/default.jpg'" alt="图片加载失败" style="width: 40px;height:40px;margin-top: 5px;margin-left: 20px" class="img-rounded"></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="height: 1500px">
        <div class="col-md-9" style="height: 1500px">
            <div class="navbar">
                <ul class="nav nav-tabs">
                    <li><a href="index.html">推荐</a> </li>
                    <li><a th:href="@{/interested.html(uid=${session.user.getUserid()})}">收藏</a> </li>
                    <li><a href="hot.html">热门</a> </li>
                </ul>
            </div>
            <div class="panel panel-default" th:each="map:${interestedList}">
                <div class="panel-heading" th:if="${map['answer']['authorname']}!=null">
                    <a th:href="@{/question(qid=${map['questionid']})}" style="text-decoration: none"><span th:text="${map['title']}"></span></a>
                </div>
                <div class="panel-heading" th:if="${map['answer']['authorname']}==null">
                    <a th:href="@{/emptyQuestion(qid=${map['questionid']})}" style="text-decoration: none"><span th:text="${map['title']}"></span></a>
                </div>
                <div class="panel-body" th:if="${map['answer']['authorname']}!=null">
                    <span th:text="${map['answer']['authorname']}+':'" th:name="${session.user.getUserid()}" th:if="${map['answer']['isanonymous']}==1"></span>
                    <span th:name="${session.user.getUserid()}" th:if="${map['answer']['isanonymous']}!=1">匿名:</span>
                    <span th:text="${map['answer']['content']}" th:name="${map['answer']['answerid']}"></span><a th:href="@{/question(qid=${map['questionid']})}" class="pull-right" style="text-decoration: none">阅读全文&raquo;</a>
                </div>
                <div class="panel-body" th:if="${map['answer']['authorname']}==null">
                    <span>暂无回答</span>
                </div>
                <div class="panel-footer" th:if="${map['answer']['authorname']}!=null">
                    <div>
                        回答数：<span th:text="${map['answercount']}"></span>
                        <button class="btn-default agree">赞成：<span th:text="${map['answer']['agreecount']}"></span></button>
                        <button class="btn-default disagree">反对：<span th:text="${map['answer']['disagreecount']}"></span></button>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3" style="height: 1500px;">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <span><a th:href="@{/center(uid=${session.user.getUserid()})}" style="text-decoration: none">个人中心</a></span>
                    <span style="float: right">私信(99)</span>
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    问问大家
                </div>
                <div class="panel-body">
                    <table>
                        <tr><td>提问</td><td>回答</td><td>收藏</td></tr>
                        <tr><td>私信</td><td>历史</td><td>关注</td></tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    校园生活
                </div>
                <div class="panel-body">
                    <table>
                        <tr><td>找人</td><td>求助</td><td>卖二手</td></tr>
                        <tr><td>寻伙伴</td><td>公告栏</td><td>表白墙</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        $('.agree').click(function(){
            $.ajax({
                type: "GET",
                dataType: "text",
                url: "/agree" ,
                data: {"answerID":$(this).parent().parent().parent().find("span").eq(2).attr('name'),"userID":$(this).parent().parent().parent().find("span").eq(1).attr('name')},
                success: function (data) {
                    if (data == "1") {
                        window.location.reload();
                    } else if(data =="2") {
                        window.location.reload();
                    }
                    ;
                },
                error : function() {
                    alert("error！");
                }
            });
        });
        $('.disagree').click(function(){
            $.ajax({
                type: "GET",
                dataType: "text",
                url: "/disagree" ,
                data: {"answerID":$(this).parent().parent().parent().find("span").eq(2).attr('name'),"userID":$(this).parent().parent().parent().find("span").eq(1).attr('name')},
                success: function (result) {
                    if (result == "1") {
                        window.location.reload();
                    }else if(result =="2") {
                        window.location.reload();
                    }
                    ;
                },
                error : function() {
                    alert("error！");
                }
            });
        })
    })

</script>
</body>
</html>